.idea
/delete/
/models_compressed/
/.venv/
/venv/
/.vs/
*.pyc
/assets/
origin/game
/.vscode/
*.json
/player_data/
.venv/*
*.log
.env
models.mf
pyarmor_runtime_000000/
entities/obstacles/Models.py
/deepface/
build/
dist/
.coverage
.coveragerc
